*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    background-color: black;
    color: white;
    overflow: auto;
    padding: 25px 25px 25px;
}

header a:hover{
    color: darkred;
}
.leftmenu a,
.leftnav a{
        transition-property: all;
        transition-delay: 0.1s;
        transition-duration: 2s;
        transition-timing-function: ease;
        color: white;
        font-size: larger;
        position: relative;
   
}

.leftnav,
.leftnav ul,
.leftnav li{
    display: inline-block;
}

.leftmenu ul li {
    margin: 30px;
}

.rightmenu a,
.rightnav a{
    float: right;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 2s;
    transition-timing-function: ease;
    color: white;
    font-size: larger;
    margin: 30px;
    margin-top: -50px;
}

main{
    padding: 200px 25px;
    background-color: brown;
    color: white;
}
#descriptionbox{
    width: 50%;
}
#descriptionbox h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#descriptionbox h1{
    font-family: serif;
    font-weight: 700;
     font-size: 60px;
     margin: 0;
    color: white;
}
#descriptionbox h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 4;
    font-size: 25px;
    margin: 0;
    color: white;
}

#descriptionbox p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-weight: 100;
    font-size: 18px;
    color: white;
}
